# Keep the Python execution environment clean
.venv/
.conda/
env/
venv/
__pycache__/
*.pyc

# VS Code
*.egg-info/
.vscode/
.DS_Store

# Ignore build generated folders
build/
dist/

# Ignore all generated lab files and active directories
data/
logs/
console_logs/
recipes/

# Ignore local physical hardware execution configurations
config.yaml

# Ignore code dump
repo_dump.txt